.loader {
  display: inline-flex;
  gap: 10px;
  z-index: 1000;
  position: absolute;
}
.loader:before,
.loader:after {
  content: "";
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fa0303 95%, #0000) 35% 35%/6px 6px
    no-repeat #24c9ff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,
  11% {
    background-position: 35% 35%;
  }
  14%,
  36% {
    background-position: 65% 35%;
  }
  38%,
  61% {
    background-position: 65% 65%;
  }
  64%,
  86% {
    background-position: 35% 65%;
  }
  88%,
  100% {
    background-position: 35% 35%;
  }
}
