* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  font-family: "VT323", monospace, sans-serif;
}

body {
  min-height: 100vh;
  background: #212534;
  color: whitesmoke;
}
